## Chuck Norris Jokes

In [90]:
from bs4 import BeautifulSoup as soup
import requests
import json
import pandas as pd

In [32]:
code = int(input('Enter the code: '))

Enter the code: 20

In [33]:
url = "http://api.icndb.com/jokes/{}".format(code)

In [34]:
response = requests.get(url)

In [35]:
print(response)

<Response [200]>

In [36]:
print(type(response.content))

<class 'bytes'>

In [42]:
json_string = json.loads(response.content)

In [45]:
json_string

{'type': 'success',
 'value': {'id': 20,
  'joke': 'The Chuck Norris military unit was not used in the game Civilization 4, because a single Chuck Norris could defeat the entire combined nations of the world in one turn.',
  'categories': ['nerdy']}}

In [51]:
joke = json_string['value']['joke']

In [52]:
print(joke)

The Chuck Norris military unit was not used in the game Civilization 4, because a single Chuck Norris could defeat the entire combined nations of the world in one turn.

In [91]:
df = pd.read_csv('ID.csv')

In [95]:
IDlist = list(df.ID)

[1, 2, 3, 4, 5, 6, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 140, 141, 142, 143, 144, 145, 146, 147, 149, 150, 151, 153, 154, 155, 156, 157, 158, 159, 160, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 438, 439, 440, 441, 442, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499]

In [106]:
# This is the main code for scraping the chuck norris jokes
import pandas as pd
import requests
import json

df = pd.read_csv('ID.csv')
IDlist = list(df.ID)

titles = ["ID","Joke"]
with open('chuck_norris.csv','w',encoding = 'UTF-8') as file:
    header = ",".join(titles)
    header += '\n'
    file.write(header)
    
    for row in IDlist:
        joke = ""
        joke += str(row)
        url = "http://api.icndb.com/jokes/{}".format(row)
        response = requests.get(url)
        json_string = json.loads(response.content)
        string = json_string['value']['joke']
        if ',' in string:
            joke = joke + ',' + '"' + string + '"' + '\n'
        else:
            joke = joke + ',' + string + '\n'
        file.write(joke)

In [107]:
import pandas as pd

In [108]:
df = pd.read_csv('chuck_norris.csv')

In [109]:
df.head(n=20)

    ID                                               Joke
0    1  Chuck Norris uses ribbed condoms inside out, s...
1    2  MacGyver can build an airplane out of gum and ...
2    3  Chuck Norris doesn't read books. He stares the...
3    4  If you ask Chuck Norris what time it is, he al...
4    5  Chuck Norris lost his virginity before his dad...
5    6  Since 1940, the year Chuck Norris was born, ro...
6   12          Chuck Norris sheds his skin twice a year.
7   13  Chuck Norris once challenged Lance Armstrong i...
8   14  There are no steroids in baseball. Just player...
9   15  When Chuck Norris goes to donate blood, he dec...
10  16  Pluto is actually an orbiting group of British...
11  17  Chuck Norris does not teabag the ladies. He po...
12  18  According to the Encyclopedia Brittanica, the ...
13  19  In an average living room there are 1,242 obje...
14  20  The Chuck Norris military unit was not used in...
15  21  Chuck Norris doesn't shower, he only takes blo...
16  23  Time waits for no man. Unless that man is Chuc...
17  24  Chuck Norris can hit you so hard that he can a...
18  25  In the Bible, Jesus turned water into wine. Bu...
19  26  Chuck Norris is the only human being to displa...